.ocultar{
  display:none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
  background-color:#72AFD2;
}
.datagrid table {
  border-collapse: collapse;
  text-align: left;
   width: 100%;
}
.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
   border-radius: 3px;
}
.datagrid table td, .datagrid table th {
  padding: 3px 10px;
}
.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B2B9BF), color-stop(1, #B2B8BF) );
  background:-moz-linear-gradient( center top, #B2B9BF 5%, #B2B8BF 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B2B9BF', endColorstr='#B2B8BF');
  background-color:#B2B9BF;
  color:#FFFFFF;
  font-size: 13px;
  font-weight: bold;
  border-left: 0px solid #EEF6FF;
  }
  .datagrid table thead th:first-child { border: none;}
  .datagrid table tbody td {
     color: #8D9296;
     border-left: 1px solid #EEF6FF;
     font-size: 12px;
     font-weight: bold;
  }
  .datagrid table tbody .alt td {
    background: #CCD3DB; color: #5F6366;
  }
  .datagrid table tbody td:first-child {
    border-left: none;
  }
  .datagrid table tbody tr:last-child td {
    border-bottom: none;
  }
